In [ ]:
#-------------------------------------------------------------------------------
# Name:         HLT Week 4
# Author:       harpal johal
# Created:      28/07/2021
#
# 1.How many rows and columns are there in your file?
# 2.Print row 3-8 ( using iloc/loc).
# 3.Find the mean number of all-inclusive hotels across all destinations.
# 4.Find the lowest scoring destination.
# 5.Find the highest scoring destination.
# 6.Find all the destinations where there are more than 9 all-inclusive hotels. 
# 7.Filter the data by score above 8.  
# 8.Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)
#   
# Extension                                                                                                                   
# 1.Is there a correlation between number of all-inclusive hotels and score?
# 2.Create a data visualisation diagram to show destination and highest scores?
# 
# -------------------------------------------------------------------------------

In [38]:
#Task 1
import pandas as pd
data = pd.read_csv("Destinations.csv")
data.shape

(15, 5)

In [4]:
#Task 2
print(data.iloc[3:9])

  Destination  Feedback Score  Average Hotel Rating  No. of All Incl Hotels  \
3      France             8.9                     4                     176
4       Spain             8.4                     3                     206
5       Italy             7.2                     4                     154
6       Japan             8.9                     5                     168
7     Germany             7.2                     3                     134
8       India             7.6                     3                     268

  Most Visited City
3             Paris
4         Barcelona
5          Florence
6             Tokyo
7            Berlin
8              Agra

In [7]:
# 3.Find the mean number of all-inclusive hotels across all destinations.
data["No. of All Incl Hotels"].mean()

106.46666666666667

In [8]:
# 4.Find the lowest scoring destination.
data["Feedback Score"].min()

7.1

In [33]:
# 5.Find the highest scoring destination.
myfilter = data["Feedback Score"]==data["Feedback Score"].max()
data[myfilter]

,Destination,Feedback Score,Average Hotel Rating,No. of All Incl Hotels,Most Visited City
3,France,8.9,4,17,Paris
6,Japan,8.9,5,10,Tokyo

In [28]:
# 6.Find all the destinations where there are more than 9 all-inclusive hotels.
myfilter = data["No. of All Incl Hotels"] > 9
data[myfilter]

,Destination,Feedback Score,Average Hotel Rating,No. of All Incl Hotels,Most Visited City
3,France,8.9,4,17,Paris
4,Spain,8.4,3,20,Barcelona
6,Japan,8.9,5,10,Tokyo
7,Germany,7.2,3,13,Berlin
8,India,7.6,3,26,Agra
11,Australia,8.1,4,16,Sydney
12,Iceland,8.0,4,12,Reyjavik
14,Brazil,7.9,4,11,Rio De Janeiro

In [26]:
# 7.Filter the data by score above 8.  
myfilter = (data["Feedback Score"] > 8) 
data[myfilter]

,Destination,Feedback Score,Average Hotel Rating,No. of All Incl Hotels,Most Visited City
0,England,8.2,4,8,London
3,France,8.9,4,17,Paris
4,Spain,8.4,3,20,Barcelona
6,Japan,8.9,5,10,Tokyo
10,Jamaica,8.2,4,5,Kingston
11,Australia,8.1,4,16,Sydney

In [39]:
# 8.Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)
myfilter = (data["Feedback Score"] < 2) 
data[myfilter]

,Destination,Feedback Score,Average Hotel Rating,No. of All Incl Hotels,Most Visited City
7,Germany,1.4,3,13,Berlin
12,Iceland,1.5,4,12,Reyjavik